<launch>

  <!-- Connect the robot to a keyboard teleop controller -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" respawn="true"/>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find me5413_world)/maps/me5413_aloam_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
  <!-- Launch the AMCL Localizer -->
  <include file="$(find me5413_world)/launch/jackal_amcl.launch" />

  <!-- Launch Move Base -->
  <include file="$(find me5413_world)/launch/jackal_move_base.launch" />

  <!-- Launch Rviz with our settings -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_world)/rviz/navigation.rviz" output="log" respawn="true"/>

  <node ns="me5413_world" pkg="me5413_world" type="goal_publisher_node" name="goal_publisher_node" output="screen" />

  <node type="number_detector.py" name="number_detector" pkg="pcl_utils" output="screen"/>
  <node type="pointcloud_transformer" name="pointcloud_transformer" pkg="pcl_utils" output="screen"/>

</launch>